@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

noscript {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Geist;
}
