/* orbitron-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    src:
        /* IE6-IE8 */ url('./orbitron-v34-latin/orbitron-v34-latin-regular.woff2')
        format('woff2');
}

/* orbitron-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 500;
    src:
        /* IE6-IE8 */ url('./orbitron-v34-latin/orbitron-v34-latin-500.woff2')
        format('woff2');
}

/* orbitron-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 600;
    src:
        /* IE6-IE8 */ url('./orbitron-v34-latin/orbitron-v34-latin-600.woff2')
        format('woff2');
}

/* orbitron-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    src:
        /* IE6-IE8 */ url('./orbitron-v34-latin/orbitron-v34-latin-700.woff2')
        format('woff2');
}

/* orbitron-800 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 800;
    src:
        /* IE6-IE8 */ url('./orbitron-v34-latin/orbitron-v34-latin-800.woff2')
        format('woff2');
}

/* orbitron-900 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 900;
    src:
        /* IE6-IE8 */ url('./orbitron-v34-latin/orbitron-v34-latin-900.woff2')
        format('woff2');
}
